 *,
 html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }

 .mainpage {
  width: 50%;
   display: flex;
 }

 .story {
   display: flex;
   background-color: whitesmoke;
   padding: 10px;
   margin-bottom: 80px;
   border-radius: 15px;
 }

 .img-div img {
   padding: 2px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid rgb(128, 0, 107);
   border-width: 1px;
   align-items: center;
   justify-content: center;
   object-fit: cover;
 }
 

 .img-div {
   padding: 10px;
 }

 .two-div{
  display: flex;
  padding-left: 300px;
 }

 .vertical {
   border-left: 1px solid silver;
   height: auto;
   
   
   
 }
 #post-story{
  display: flex;
  width: 81%;
  align-items: center;
  background-color: whitesmoke;
   padding: 10px;
   margin-bottom: 80px;
   border-radius: 10px;
   margin-bottom: 5px;
 }
 

#post-story img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.center-div{
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: large;
}
.fine-img{
}
.fas {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

#fass,
#fast {
  padding-left: 20px;
}

#phead {
  font-weight: 500;
}

.firstpost {
  display: flex;
  margin: 10px;
  font-size: larger;
}

.posthead {
  padding-left: 10px;
}

#rhead {
  font-weight: 900;
}
.post-area{
padding-left: 400px;

}
.navbar{
  width: 25%;
  height: 100vh;
  display: grid;
  position: fixed;
}


#follow{
  display: flex;
  align-items: center;
  justify-items: space-between;
  padding: 40px;

}
#follow img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#follow p{
  padding-left: 80px;
}
.suggestions img{
width: 30px;
height: 30px;
border-radius: 50%;
}
.suggestions{
  display: flex;
  align-items: center;

}
.suggestions p{
  padding-left: 80px;
}
.sfy{
  padding: 20px;
 margin: 30px; 
 
} 
.new-posts{
  margin-bottom: 50px;
}


.ig{
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 900;
}


@media screen and (max-width: 800px) {
  .mainpage {
    display: none;
  }
}

.right-side {
  width: 25%;
  margin-top: 15px;
  position: fixed;
  right: 30px;
}
.right-side .profile-title{
  display: flex;
  align-items: center;
}
.right-side .profile-title .profile-left{
  display: flex;
  align-items: center;
  margin-right: 40px;

}
.right-side .profile-title .profile-left .mage img{
  border-radius: 50%;
  margin-right: 15px;
}
.right-side .profile-title .profile-left .detailed .name{
  padding-bottom: 3px;
  font-size: large;
}
.suggest{
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
}

.suggest p{
  margin-right: 90px;
}
.suggest-title{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.suggest-title .suggest-left{
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.suggest-title .suggest-left .mage img{
  border-radius: 50%;
  margin-right: 15px;
}
.suggest-title .suggest-left .detailed .name{
  padding-bottom: 3px;
}
